/* Remove default margins */
body {
    margin: 0;
    font-family: sans-serif;
    font-size: 135%;
}
/* Style the wrapper div */
.container {
    position: relative;
    width: 90%;
    max-height: 99%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; 
    overflow: auto;
}
/* Keep the image from growing too large */
img {
    width: auto;
    display:block;
    max-width: 100%;
    height: 75%;
    margin: auto;
    margin-top: 5px;
    max-height: 770px;
}
/* Give the buttom row a little top margin */
.row {
    height: auto;
    width: auto;
    margin-top: 1%;
}

/* Style all buttons same by default */
button {
    cursor: pointer; /* Pointer/hand icon */
    font-size: 150%;
    width: 100%;
    color: black;
    border-radius: 10px;
    height: 10%;
    padding: auto;
}
/* Button Colors*/
.btn-fail {
    background-color: rgb(252, 70, 233);
}
.btn-pass {
    background-color: rgb(3, 247, 20);
}
/* Media queries! */
/* Large Mobile */
@media screen and (max-width: 400px) {
    .container {
        max-height: 700px;
    }
    img {
        height: 60%;
    }
}

/* Larger than mobile */
@media screen and (min-width: 401px) {
    .left-div {
        float: left;
        margin-right: 3%;
        width: 47%;
        height: auto;
    }
    .right-div {
        float: left;
        margin-left: 3%;
        width: 47%;
        height: auto;
    } 
}